.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    width: 20px;
    height: 100%;
    position: absolute;
    background-color: rgb(154, 233, 243);
}

.c-wrapper{
    display: flex;
    padding: 50px;

}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.c-title{
    font-size: 70px;
    width: 100%;
    margin: 10%;
    font-family: 'Anton', sans-serif;
    color: rgb(90, 67, 67);

}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(46, 33, 5);
}

.c-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.c-desc{
    font-weight: 200;
    font-family: 'Barlow', sans-serif;
    color: rgb(26, 3, 12);
    margin: 25px;
    font-size: 20px;

}

form{
    margin-top: 30px;
    
}

input{
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 15px;
    padding-left: 10px;
    
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 15px;
    padding-left: 10px;
}

button{
    border: none;
    padding: 10px;
    background-color: rgb(114, 139, 75);
    color: white; font-weight: 500;
    cursor: pointer;
}



